

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
label.form-check-label {
    cursor: pointer;
}
.credit-amount {
    line-height: 50px;
    float: right;
    color: white;
}